<div class="span12">
  <h1><%= @user.name || 'Your account' %></h1>
</div>

<% if @user.phones.blank? %>
  <div class="span12">
    <div class='alert alert-warning'>
      You don't have any phones! Add one below:
    </div>
  </div>
<% else %>
  <div class="span8">
    <table class="table table-striped table-hover">
      <tbody>
      <% @user.phones.each do |phone| %>
        <tr>
          <td><%= phone.number %></td>
          <td><%= render partial: 'phones/show_verification', object: phone, as: :phone %></td>
          <td><%= link_to 'Delete', phone, :class => 'btn btn-small', :confirm => "Are you sure?", :method => :delete %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<div class="span12">
  <p>Add a phone number:</p>
</div>
<%= render partial: 'phones/new', object: Phone.new, as: :phone %>


