<!DOCTYPE html>
<html>
<head>
  <title>callmeif.it</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "callmeif.it/", launches_path, :class => 'brand' %>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><%= link_to "Launches", launches_path %></li>
          </ul>
          <%= render :partial => 'nav/logged_in_controls', :object => @logged_in_user, :as => :user %>
        </div>
        
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
