<!DOCTYPE html>
<html>
<head>
  <title>callmeif.it</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <%= link_to "callmeif.it/", launches_path, :class => 'brand' %>
      <ul class="nav">
        <li class="active"><%= link_to "Launces", launches_path %></li>
      </ul>
    </div>
  </div>
  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
</html>
